################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/bin
/WebApi/logs
/WebApi/obj
/.vs/WebApi/FileContentIndex/786a8c31-39b0-400c-8096-13916ee26268.vsidx
/.vs/WebApi/FileContentIndex/a6289e95-fdb2-40a6-8a95-cd4c5aa1e979.vsidx
/.vs/WebApi/FileContentIndex/1d75ef12-0572-4084-8f84-4c21927a09fa.vsidx
/.vs/WebApi/FileContentIndex/871dffea-45c9-4289-b8ba-04aaced3670a.vsidx
/.vs/WebApi/FileContentIndex/752900c0-13b1-4ea8-b852-235b0b2e55b3.vsidx
/.vs/WebApi/FileContentIndex/e00f572b-f579-421e-a30a-6bc1fd286941.vsidx
/.vs/WebApi/FileContentIndex/e6e178bc-8631-4b90-807b-3763fbbd16ca.vsidx
/.vs/WebApi/FileContentIndex/05eadb03-bb93-4498-b356-55c3f5ac5fa6.vsidx
/.vs/WebApi/FileContentIndex/1c19d3c4-f613-4807-b00f-26edf88fa2e0.vsidx
/.vs/WebApi/FileContentIndex/1db81300-723d-4ad8-bc1a-824fe0f20678.vsidx
/.vs/WebApi/FileContentIndex/388b1741-8e52-48e4-bf60-c838ede6bf4f.vsidx
/.vs/WebApi/FileContentIndex/234e93ad-8311-4fb2-bda6-f360804ecf5a.vsidx
/.vs/WebApi/FileContentIndex/2f1707c9-c29a-427f-8980-918f11a8db29.vsidx
/.vs/WebApi/FileContentIndex/313d9579-8ee9-45f1-a402-367c4edfe5ad.vsidx
/.vs/WebApi/FileContentIndex/6c0fe4bb-e119-4ed1-a4cb-f7e6b8cb3d2f.vsidx
/.vs/WebApi/FileContentIndex/1e9e6a72-63ee-4795-96fa-e0ec5cb7bb6d.vsidx
/.vs/WebApi/FileContentIndex/e79f6758-e105-47dd-9515-f292f66e609f.vsidx
/.vs/WebApi/FileContentIndex/45454683-d469-4ef7-92ed-dde27f9ac2fb.vsidx
/.vs/WebApi/FileContentIndex/cc69cdb3-7053-4a35-a56d-95fd2afb613b.vsidx
/.vs/WebApi/FileContentIndex/23f050aa-b37d-4e4c-8d68-07596a5fad28.vsidx
/.vs/WebApi/FileContentIndex/264aedf7-4908-46fc-97f0-d684b70ad043.vsidx
/.vs/WebApi/FileContentIndex/e8f5ed4b-c4c2-45cc-b6d3-e9a4148aeb2e.vsidx
/.vs/WebApi/FileContentIndex/a035bd9d-1afb-45f1-8234-c9b1d49d374a.vsidx
/.vs/WebApi/FileContentIndex/30ac176f-991f-4c0c-bc00-5a534fbdf863.vsidx
/.vs/WebApi/FileContentIndex/65f5a66c-2d38-4cd9-bb36-cd2947309615.vsidx
/.vs/SLGWebAPI/FileContentIndex/206a9bd7-7bdf-444d-b583-7de692e3d439.vsidx
/.vs/SLGWebAPI/FileContentIndex/706ed4ad-ca27-4b87-9d17-545256dccc51.vsidx
/.vs/SLGWebAPI/FileContentIndex/b0de0de7-7314-480e-9685-c0f5b5e7aa71.vsidx
/.vs/SLGWebAPI/FileContentIndex/df233d8c-d247-4bb9-91bf-4c372bdd8b2e.vsidx
